In [1]:
import pandas as pd
import numpy as np

In [2]:
original_network = {"P(l_rec)":0.1038, "P(E_rec)":0.0780,  "B_nodes": 0.7653, "B_edges":0.5161}

# 1 Shuffle timestamps on whole network

In [3]:
df = pd.read_csv("1. Shuffle_timestamps_edgelist_twitter_mentions.txt")
method = '1 Shuffle timestamps on whole network ' + str(len(df)) +' data points'
measures = ["P(l_rec)","P(E_rec)","B_nodes","B_edges"]
means = {}
stds = {}
z_scores = {}
for measure in measures:
    measure_column = df[measure]
    means[measure] = np.mean(measure_column)
    stds[measure] = np.std(measure_column)
    z_scores[measure] =(original_network[measure] - np.mean(measure_column))/np.std(measure_column)
    
original_df = pd.DataFrame(original_network,index=['Original'])
mean_df = pd.DataFrame(means,index=['Mean'])
std_df  = pd.DataFrame(stds,index=['Std'])
z_score_df =  pd.DataFrame(z_scores,index=['Z-score'])

print(method)
results = original_df.append(mean_df)
results = results.append(std_df)
results = results.append(z_score_df)
results

1 Shuffle timestamps on whole network 100 data points

              P(l_rec)    P(E_rec)     B_nodes     B_edges
Original  1.038000e-01    0.078000    0.765300    0.516100
Mean      2.245919e-02    0.046386    0.545268    0.310326
Std       6.938894e-18    0.000146    0.000493    0.000539
Z-score   1.172245e+16  216.578165  446.476839  381.516557

# 2 Rewire links and shuffle timestamps on whole network'

In [4]:
df = pd.read_csv("2. Shuffle_from_to_timestamps_edgelist_twitter_mentions.txt")
method = '2 Rewire links and shuffle timestamps on whole network  ' + str(len(df)) +' data points'
measures = ["P(l_rec)","P(E_rec)","B_nodes","B_edges"]
means = {}
stds = {}
z_scores = {}
for measure in measures:
    measure_column = df[measure]
    means[measure] = np.mean(measure_column)
    stds[measure] = np.std(measure_column)
    z_scores[measure] =(original_network[measure] - np.mean(measure_column))/np.std(measure_column)
    
original_df = pd.DataFrame(original_network,index=['Original'])
mean_df = pd.DataFrame(means,index=['Mean'])
std_df  = pd.DataFrame(stds,index=['Std'])
z_score_df =  pd.DataFrame(z_scores,index=['Z-score'])

print(method)
results = original_df.append(mean_df)
results = results.append(std_df)
results = results.append(z_score_df)
results

2 Rewire links and shuffle timestamps on whole network  44 data points

            P(l_rec)    P(E_rec)     B_nodes     B_edges
Original    0.103800    0.078000    0.765300    0.516100
Mean        0.014853    0.028033    0.543784    0.216773
Std         0.000150    0.000208    0.000348    0.000801
Z-score   592.378474  239.660011  636.981845  373.607526

# 4 Shuffle timestamps for each node

In [6]:
df = pd.read_csv("4. Shuffle_timestamps_at_nodes_twitter_mentions.txt")
method = '4 Shuffle timestamps for each node ' + str(len(df)) +' data points'
measures = ["P(l_rec)","P(E_rec)","B_nodes","B_edges"]
means = {}
stds = {}
z_scores = {}
for measure in measures:
    measure_column = df[measure]
    means[measure] = np.mean(measure_column)
    stds[measure] = np.std(measure_column) +  10**(-20)
    z_scores[measure] =(original_network[measure] - np.mean(measure_column))/(np.std(measure_column)+  10**(-20))
    
original_df = pd.DataFrame(original_network,index=['Original'])
mean_df = pd.DataFrame(means,index=['Mean'])
std_df  = pd.DataFrame(stds,index=['Std'])
z_score_df =  pd.DataFrame(z_scores,index=['Z-score'])

print(method)
results = original_df.append(mean_df)
results = results.append(std_df)
results = results.append(z_score_df)
results

4 Shuffle timestamps for each node 32 data points

              P(l_rec)    P(E_rec)     B_nodes     B_edges
Original  1.038000e-01    0.078000    0.765300    0.516100
Mean      2.245919e-02    0.046318    0.572067    0.328233
Std       1.000000e-20    0.000168    0.000695    0.000538
Z-score   8.134081e+18  188.914524  277.966302  349.054848

# 5 Rewire links and shuffle timestamps for each node

In [ ]:
df = pd.read_csv("5. Shuffle_timestamps_edgelist_twitter_mentions.txt")
method = '5 Rewire links and shuffle timestamps for each node  ' + str(len(df)) +' data points'
measures = ["P(l_rec)","P(E_rec)","B_nodes","B_edges"]
means = {}
stds = {}
z_scores = {}
for measure in measures:
    measure_column = df[measure]
    means[measure] = np.mean(measure_column)
    stds[measure] = np.std(measure_column)  +  10**(-20)
    z_scores[measure] =(original_network[measure] - np.mean(measure_column))/(np.std(measure_column) +  10**(-20))
    
original_df = pd.DataFrame(original_network,index=['Original'])
mean_df = pd.DataFrame(means,index=['Mean'])
std_df  = pd.DataFrame(stds,index=['Std'])
z_score_df =  pd.DataFrame(z_scores,index=['Z-score'])

results = original_df.append(mean_df)
results = results.append(std_df)
results = results.append(z_score_df)
print(method)
results

In [2]:
from graph_tool.all import *

# Testing Sandeeps function

In [1]:
from Shuffling_functions import *
from functions_reci_bursty import *
import pandas as pd

In [25]:
df_edges_calls

      from   to  t_second
0        0  362    215795
1        0  158   1609163
2        0  158   1611838
3        1  260   1095056
4        1   35   1113604
...    ...  ...       ...
3595   534  173    389119
3596   534  345    607587
3597   534  345    607643
3598   535  271   1512428
3599   535  144   1790851

[3600 rows x 3 columns]

In [8]:
df_edges_email = pd.read_table(
    'email-Eu-core-temporal.txt',header=None,sep=" ")
df_edges_email.columns = ['from', 'to', 't_second']
# print(df_edges_email)

df_edges_college = pd.read_table(
   'CollegeMsg.txt',header=None,sep=" ")
df_edges_college.columns = ['from', 'to', 't_second']
# print(df_edges_email)

with open('calls_ijt.pickle', 'rb') as handle:
    data = pickle.load(handle)
df_edges_calls = pd.DataFrame(data, columns = ['from', 'to', 't_second'])


with open('sms_ijt.pickle', 'rb') as handle:
    data = pickle.load(handle)
df_edges_sms = pd.DataFrame(data, columns = ['from', 'to', 't_second'])

df_edges_mentions= pd.read_pickle('df_edges_mentions.pkl')
df_edges_retw= pd.read_pickle('df_edges_retw.pkl')
df_edges_reply= pd.read_pickle('df_edges_reply.pkl')

In [10]:
measures(df_edges_email,'E-mail data')

  edges n: 11324/11324

             P(l_rec)  P(E_rec)   B_nodes   B_edges
Method
E-mail data  0.764512  0.466793  0.354884 -0.122634

In [11]:
measures(df_edges_college,'College message data')

  edges n: 13838/13838

                      P(l_rec)  P(E_rec)   B_nodes   B_edges
Method
College message data  0.765619  0.654477  0.246205 -0.306779

In [12]:
measures(df_edges_calls,'Calls data')

  edges n: 621/621

            P(l_rec)  P(E_rec)   B_nodes   B_edges
Method
Calls data  0.830137  0.471869  0.108694 -0.111781

In [13]:
measures(df_edges_sms,'Sms data')

  edges n: 697/697

          P(l_rec)  P(E_rec)   B_nodes   B_edges
Method
Sms data  0.966507  0.746703  0.381796  0.184447

In [ ]:
measures(df_edges_mentions,'Twitter Mentions data')

  edges n: 20277/284338

In [ ]:
measures(df_edges_retw,'Twitter Retweet data')

In [ ]:
measures(df_edges_reply,'Twitter Reply data')